# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.env
.venv/
env/
venv/

# Django
db.sqlite3

# static/media files
/staticfiles/
/media/

# archivos de empaquetado
*.egg-info/
dist/
build/
