{% load static %} 

<div class="text-center">
  <div class="row m-0">
    <div class="col d-flex justify-content-center align-items-center p-2 p-sm-5">
      <h2 class="titulo-portada-izq">Somos una startup que trabaja con inteligencia artificial y automatización de
        procesos industriales.</h2>
    </div>
    <div class="col">
      <div class="position-relative p-2 p-sm-5">
        <img
          class="w-100 "
          src="{% static 'web/imagenes/fondo.png' %}"
          alt="Imagen ilustrada de la portada"
        />
        <div
          class="container position-absolute top-50 start-50 translate-middle text-nowrap main-portada"
        >
          <h2 class="titulo-portada">IA</h2>
          <P class="texto-portada">+</P>
          <h2 class="texto-portada">AUTOMATIZACION</h2>
        </div>
      </div>
    </div>
  </div>


