{% load static %}

<section>
  <div
    class="container d-flex justify-content-center align-items-end mt-5"
    style="gap: 0"
  >
    <div
      class="w-100 d-flex caja-proyectos-izq justify-content-center align-items-center"
    >
      <h5>Menor tiempo.</h5>
    </div>

    <div
      class="bg-dark w-100 position-relative caja-proyectos-cen d-flex justify-content-center align-items-center" style="width: 100px; height: 140px; z-index: 1"
    >
      <h5>Mayores ganancias.</h5>
    </div>

    <div
      class="w-100 caja-proyectos-der d-flex justify-content-center align-items-center"
    >
      <h5>Mayor Produccion.</h5>
    </div>
  </div>
</section>

<section
  class="container d-flex flex-column align-items-center justify-content-center p-5"
>
  <h2 class="seccion-titulo">¿Quiénes somos?</h2>
  <p class="seccion-texto">
    NeoTech es una empresa dedicada a la tranformar con Inteligencia artificial
    los procesos industriales.
  </p>
  <p class="seccion-texto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore
    neque sint vitae, nihil voluptatem corporis quos itaque quam doloribus
    impedit, et esse amet cum eos maxime aut minima nemo?
  </p>
</section>
