{% extends 'base.html' %}
{% load static %}

{% block title %}NeoTech{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/index.css' %}" />
{% endblock %}

{% block content %}

{% include "web/partials/portada.html" %}

{% include "web/partials/seccion.html" %}

{% include "web/partials/contacto.html" %}

{% endblock %}

{% block extra_js %}
<script>
    const printer = document.getElementById("printer");

    fetch("https://phrasesapi.onrender.com/getAllPhrases")
        .then(res => res.json())
        .then(data => {
            const frase = data[Math.floor(Math.random() * data.length)];
            printer.innerHTML = frase.phrase + " — " + frase.author;
    });

</script>
{% endblock %}

{% block footer %}
{% include "web/partials/footer.html" %}
{% endblock %}
