{% extends 'base_panel.html' %} 
{% load static %} 

{% block title %}Panel{% endblock %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/panel.css' %}" />
{% endblock %} 

{% block content %}
<div class="container text-white">
  <div class="row">
    <div class="col-md-12">
      <h1>Panel</h1>
      <p>Resumen estadístico:</p>
      <ul>
        <li id="consulta_comercial"></li>
        <li id="consulta_tecnica"></li>
        <li id="consulta_rrhh"></li>
        <li id="consulta_general"></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h1 class="mt-4">Solicitudes</h1>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Fecha</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">LinkedIn</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tabla_consultas"></tbody>
      <div id="error_tabla" class="text-danger text-center mt-3"></div>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="modalEditar" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="formEditar" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title">Editar Consulta</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Cerrar"
              ></button>
            </div>
            <div class="modal-body">
              <form action="">
              <input type="hidden" id="editarId" />
              <div class="mb-3">
                <label for="editarCategoria" class="form-label"
                  >Categoría</label
                >
                <input type="text" id="editarCategoria" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarFecha" class="form-label">Fecha</label>
                <input type="date" id="editarFecha" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarNombre" class="form-label">Nombre</label>
                <input type="text" id="editarNombre" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarApellido" class="form-label">Apellido</label>
                <input type="text" id="editarApellido" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarEmail" class="form-label">Email</label>
                <input type="email" id="editarEmail" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarLinkedin" class="form-label">LinkedIn</label>
                <input type="text" id="editarLinkedin" class="form-control" />
              </div>
              <div class="mb-3">
                <label for="editarMensaje" class="form-label">Mensaje</label>
                <textarea id="editarMensaje" class="form-control"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block extra_js %}
<script src="{% static 'web/js/panel.js' %}"></script>
{% endblock %}
